@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.search-bar-container {
  background-image: url("./img/pattern-bg-desktop.png");
  height: 300px;
}
body{
  font-family: "Rubik", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
